
<div class='date-range'>
  <h4>Enter a date range:</h4>
  <label>
    Start date:
    {{pikaday-input value=startAt}}
  </label>
  <label>
    End date:
    {{pikaday-input value=endAt}}
  </label>
</div>



<div class='visualization'>
</div>

<button class='btn btn-primary' {{action 'update'}}>Update</button>

{{outlet}}
